.main-header {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
    text-align: center;
}

.main-header nav ul {
    list-style: none;
    padding: 0;
}

.main-header nav ul li {
    display: inline;
    margin-right: 20px;
}

.main-header nav ul li a {
    color: #fff;
    text-decoration: none;
}

.main-header nav ul li a:hover {
    text-decoration: underline;
}






































































.container {
    margin-top: 100px;
}
.card {
    border: none;
    border-radius: 15px;
}
.card-title {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 30px;
}
.form-label {
    font-weight: bold;
}






































.container {
    margin-top: 50px;
}
.profile-image {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
}
.profile-info {
    text-align: center;
    margin-top: 20px;
}
.username {
    font-size: 1.5rem;
    font-weight: bold;
}
.user-posts {
    margin-top: 30px;
}
.follow-button {
    margin-top: 20px;
}
.followers {
    margin-top: 30px;
}





















































